.modal {
  align-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0px;
  display: flex;
  justify-content: center;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
}

.modal__audio {
  margin-top: 140px;
}
