.music {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 20px 60px;
}

.music__album-cover {
  background-image: url('/public/images/AlbumCover.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 388px;
  margin-right: 20px;
  width: 428px;
  @include mobile {
    height: 100vw * .9;
    margin-right: 0px;
    width: 100%;
  }
}

.music__album-description {
  color: $gray-color;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 400px;
  min-width: 140px;
  @include mobile {
    width: 100%;
  }
}

.music__album-price {
  color: $black-color;
  margin: 10px 0px 30px;
}
