.project {
  clear: both;
  display: block;
  height: auto;
  margin: 0px auto 15px;
  max-width: 462px;
  overflow: hidden;
  padding: 10px 0px;
  width: auto;
  @include mobile {
    width: 100%;
    margin: 0px auto 20px auto;
  }
}

.project__image {
  width: 100px;
  height: 100px;
  margin: 0px 20px 15px 0px;
  display: inline;
  overflow: hidden;
  float: left;
  border: 1px solid $gray-color;
  border-radius: 23px;
}

.project__infoContainer {
  width: 300px;
  height: auto;
  display: inline;
  float: left;
  text-align: left;
  @include mobile {
    width: 100%;
  }
}

.project__infoSection {
  width: 100%;
  overflow: hidden;
  margin-bottom: 8px;
}

.project__appStoreImage {
  height: 41px;
  width: 120px;
  display: inline;
  margin-right: 10px;
  float: left;
}

.project__description {
  color: $gray-color;
}
