html, body, div, span, a, p, ul, li, h1, h2, code, nav {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}
/*pass window height (w/o scroll bars) down to react app, note can't use vh becasue that
includes scroll bars and mobile browser footer, etc so doesn't give viewable area*/
html, body { height: 100%; }
