.software {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0px 30px 60px;
}

.software__mainDescription {
  color: $gray-color;
  margin-bottom: 45px;
  max-width: 488px;
  text-align: left;
  @include mobile {
    width: 100%;
  }
}

.software__sectionTitle {
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  margin-bottom: 25px;
  overflow: hidden;
  @include mobile {
    text-align: left;
  }
}

.software__projects {
  margin-bottom: 30px;
}

.software__process {
  margin: 10px 0px 20px;
}

.software__processStep {
  width: auto;
  max-width: 488px;
  height: auto;
  display: block;
  margin: 0px auto 20px auto;
  clear: both;
  overflow: hidden;
}

.software__processLabel {
  width: auto;
  height: auto;
  position: relative;
  display: inline-block;
  float: left;
  padding: 25px;
  margin: 0px 30px 10px 0px;
  border: 1px solid $gray-color;
  border-radius: 30px;
}

.software__processNumber {
  position: absolute;
  top: 14px;
  left: 20px;
  color: $black-color;
}

.software__processInfo {
  color: $gray-color;
  display: inline-block;
  float: left;
  height: auto;
  margin-bottom: 20px;
  text-align: left;
  width: 406px;
  @include mobile {
    width: 100%;
  }
}

.software__processInfo--title {
  color: $black-color;
  display: block;
  margin-bottom: 7px;
}

.software__aboutMe {
  width: auto;
  max-width: 538px;
  height: auto;
  display: block;
  margin: 20px auto 60px auto;
  clear: both;
  overflow: hidden;
  @include mobile {
    margin-top: 10px;
    width: 100%;
  }
}

.software__aboutMePhoto {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  float: left;
  margin: 0px 30px 10px 0px;
  @include mobile {
    margin-bottom: 20px;
  }
}

.software__aboutMeBio {
  color: $gray-color;
  display: inline-block;
  float: left;
  height: auto;
  text-align: left;
  width: 358px;
  @include mobile {
    width: 100%;
  }
}

.software__contactMe {
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 70px;
  text-align: center;
  @include mobile {
    text-align: left;
  }
}
