// Colors
$black-color: #000;
$blue-color: #6E92A6;
$gray-color: #727272;
$light-gray-color: #EBEBEB;
$lightest-gray-color: #FAFAFA;
$white-color: #FFF;

// Font sizes
$base-font-size: 1.6rem;
$medium-font-size: 1.8rem;
$large-font-size: 5rem;

// Media query breakpoints
$mobile-breakpoint: 500px;
